<!DOCTYPE html>
<html lang="en" ng-app="app"> 
<head>
    <title>Candidate Ranking</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/ng-tags-input.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-route.js"></script>
    <script type="text/javascript" src="/static/js/ng-tags-input.js"></script>
    <script type="text/javascript" src="/static/js/angular-avatar.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
</head>
 
<body ng-controller="main">
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                    <li role="presentation"><a href="#">Skills graph</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Candidate Ranking</h3>
        </div>
 
 
        <div class="row">
            <div class="col-md-3">
                <label for="inputHelpBlock">Skills</label>
                <tags-input ng-model="searchSkills" class="data-input" min-length="1">
                    <auto-complete source="skillTypeAhead($query)"></auto-complete>
                </tags-input>

                <br />
                <button class="btn btn-info btn-block" ng-click="submit_search()">Search</button>
                
                <br />

                {% raw %}
                    <div ng-show="1">
                        <a role="button" data-toggle="collapse"
                            href="#" 
                            aria-expanded="false" 
                            ng-repeat="skill in relevant_skills">
                          {{ skill[0] }}
                        </a>
                    </div>
                {% endraw %}

            </div>
            <div class="col-md-9">
                <div ng-show="loading">Loading ...</div>
                {% raw %}
                <div class="media" ng-repeat="c in candiate_matched | orderBy: '-matching_score'">
                  <div class="media-left">
                    <a href="{{ profileURL(c.candidate_name + '%20' + c.candidate_surname) }}" target="_blank">
                        <ng-avatar string="{{c.candidate_name + ' ' + c.candidate_surname}}" picture-resolution="512" width="90" round-shape="true" auto-color="true"></ng-avatar>
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="{{ profileURL(c.candidate_name + '%20' + c.candidate_surname) }}">
                        <h4 class="media-heading" ng-bind="c.candidate_name + ' ' + c.candidate_surname"></h4>
                    </a>
                    
                    <p>
                        Candidate ID: <span class="candidate_id" ng-bind="c.candidate_id"></span>, 
                        Gender: <span class="gender" ng-bind="c.candidate_gender"></span>,
                        Country: <span class="country" ng-bind="c.candidate_country"></span>,
                    </p>

                    <p>
                        Degree: <span class="country" ng-bind="c.candidate_degree"></span>
                    </p>

                    <p>
                        <i>Matching score: <span class="matching_score" ng-bind="c.matching_score"></span></i>
                    </p>

                    <p ng-bind-html="highlightSkill(c.skills)" class="text-success"></p>
                  </div>
                </div>
                {% endraw %}
            </div>
        </div>
 
        <footer class="footer" style="margin-top: 50px;">
            <p>&copy; 2017</p>
        </footer>
 
    </div>
</body>
 
</html>